Language: Cpp

# Style
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignTrailingComments: 'true'

# Never allow one liners
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'

# Braces
BreakBeforeBraces: Mozilla
BreakConstructorInitializers: AfterColon

# Wrap nicely
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'

# Readability
ColumnLimit: '120'
IndentWidth: '4'
SortIncludes: 'true'
UseTab: Never
