---
BasedOnStyle: Microsoft
AlignConsecutiveAssignments: 'true'
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'

...
