---
BasedOnStyle: Microsoft
AlignConsecutiveAssignments: 'true'
AlignTrailingComments: 'true'
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'

...
